<!-- Validation failure messages -->
<% if @fan.present? %>
  <% if @fan.errors.any? %>
    <% @fan.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new fan
</h1>


<hr>

<!-- Form fan start -->
<form action="/create_fan" method="post">
<!-- Form fan end -->

  <!-- Label and input for fan_id start -->
  <div class="form-group">
    <label for="fan_id">
      Fan
    </label>

    <!-- Input for fan_id start -->
    <input type="text" id="fan_id" name="fan_id" class="form-control" value="<%= @fan.fan_id %>">
    <!-- Input for fan_id end -->
  </div>
  <!-- Label and input for fan_id end -->

  <!-- Label and input for photo_id start -->
  <div class="form-group">
    <label for="photo_id">
      Photo
    </label>

    <!-- Input for photo_id start -->
    <input type="text" id="photo_id" name="photo_id" class="form-control" value="<%= @fan.photo_id %>">
    <!-- Input for photo_id end -->
  </div>
  <!-- Label and input for photo_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create fan
  </button>
</form>

<hr>

<a href="/fans">
  Go back
</a>
